:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(35, 35, 35, 0.87);
  background-color: #fff7f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* variable */
  --btn-color: linear-gradient(90deg, #f9a8d4, #fcd5ce);
  --btn-hover: linear-gradient(90deg, #fb9dbe, #fcaba0);
  --bg-light-color: #fff8f9;
  --error-msg: #ff4848;
  --green-msg: #4caf50;
  --main-pink: #f28b8b;
  --light-pink: #f0baba; 
  --black-text: #555;
  --lighter-pink: #F9DEDC;
}

a {
  font-weight: 500;
  color: var(--main-pink);
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
} */


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
