.expenses-list-section {
    margin-top: 30px;
}

.expenses-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.expenses-list-header .expenses-list-title {
    margin: 0;
}

.view-all {
    font-size: 0.9em;
    color: #999;
    cursor: pointer;
}

.expenses-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--section-bg);
    border-radius: 12px;
    box-shadow: 0 2px 5px var(--box-shadow);
}

.expense-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    font-size: 1em;
    border-bottom: 1px solid #f0f0f0;
}

.expense-item:last-child {
    border-bottom: none;
}

.expense-name {
    font-weight: 500;
    color: var(--text-color);
}

.expense-amount {
    color: var(--text-color);
    font-weight: 600;
}

.save-btn {
    width: 80px;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background: var(--btn-color);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.save-btn:hover {
    background: var(--btn-hover);
}