.insurance-setup-container {
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.insurance-form {
  gap: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.insurance-setup-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.insurance-setup-header {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.insurance-setup-header h2 {
  font-weight: 600;
  padding-right: 30px;
  width: 100%;
  color: var(--main-pink);
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.input-row {
  display: flex;
  gap: 10px;
}

.input-row .input-group {
    flex: 1;
}

@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
  .insurance-form {
    margin-left: 10px;
    margin-right: 10px;
}
}