.plan-details-container {
  padding: 20px;
  background: var(--bg-color);
  display: flex;
  gap: 20px;
  justify-content: stretch;
  align-items: start;
}

.plan-details-container .back-btn {
  background: none;
  border: none;
  margin: 20px 10px;
  padding-left: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--main-pink);
}

.plan-details-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.plan-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.plan-header h3 {
  color: var(--main-pink);
  font-size: 20px;
}

.plan-header .provider-logo {
  max-width: 200px;
  max-height: 100px;
  margin-bottom: 10px;
}

.plan-header div {
  display: flex;
}

.plan-header .suitability-score{
  margin: 0;
  color: var(--text-color);
  border-radius: 15px;
  padding: 10px 15px;
  font-weight: 500;
  margin-right: 10px;
  background-color: var(--light-pink);
}

.fav-btn {
  background: none;
  border: none;
  padding: 0;
  margin-left: 15px;
  padding-top: 5px;
  font-size: 1.5rem;
  color: var(--main-pink);
  cursor: pointer;
}

.fav-btn .filled {
  background: none;
  border: none;
  padding: 0;
  margin-left: 15px;
  font-size: 1.5rem;
  margin: 0;
  color: var(--main-pink);
  cursor: pointer;
}

.fav-btn:hover {
  background: none;
}

.plan-info {
  flex: 1.5;
  border-radius: 15px;
  padding: 20px;
  padding-right: 50px;
  margin-top: 15px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text-color);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  border-bottom: 1px solid var(--light-pink);
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.row span {
  flex: 1 1 100px;
}

.row-label {
  text-align: left;
  font-weight: 600;
}

.row-content {
  text-align: right;
}

.ci-status {
  text-align: right;
}

.payment-struc {
  text-align: left;
  font-size: 15px;
  padding-top: 5px;
  border-bottom: 1px solid var(--light-pink);
}

.payment-list {
  list-style: none;
  padding-left: 0;
}

.payment-list li {
  padding: 4px 0;
}

.thumb-icon {
  color: var(--main-pink);
  margin-left: 8px;
}

.contact {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
  text-align: left;
  gap: 20px;
}

.contact div p {
  margin: 10px 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  margin-left: 10px;
  margin-bottom: 0;
}

.switch input { display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: var(--light-pink);
  border-radius: 20px;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px; width: 14px;
  left: 3px; bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: .3s;
}

input:checked + .slider {
  background-color: var(--main-pink);
}

input:checked + .slider:before {
  transform: translateX(16px);
}

@media (max-width: 768px) {
  .plan-details-container {
    gap: 0px;
  }
  .plan-details-inner {
    flex-direction: column;
  }
  .plan-header {
    margin-top: 10px;
  }
  .plan-header h3 {
    font-size: 16px;
  }
  .plan-details-container .back-btn{
    margin: 0;
    padding: 5px 0px;
  }
  .plan-details-container span, 
  .plan-details-container p, 
  .plan-details-container a,
  .plan-details-container li {
    font-size: 13px;
  }
  .plan-info {
    padding: 0;
  }
  .plan-header .provider-logo {
    max-width: 160px;
    max-height: 80px;
    margin-bottom: 5px;
  }
}