

/* General layout */
.register-container {
  display: flex;
  top: 68px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-light-color);
  font-family: 'Poppins', sans-serif;
}

.register-card {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  width: 100%;
  max-width: 360px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

/* Logo */
.register-logo {
  width: 120px;
  margin: 0 auto 20px;
  display: block;
}

/* Labels */
.input-group label {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: #555;
  margin-bottom: 5px;
}

.required {
  color: var(--error-msg);
}

/* Input field styles */
.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px 14px;
  background-color: white;
  margin-bottom: 18px;
}

.input-icon {
  color: var(--main-pink);
  margin-right: 8px;
  font-size: 14px;
}

input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  color: #333;
  background-color: #ffffff;
}

.toggle-password {
  right: 8px;
  background: none;
  border: none;
  color: var(--main-pink);
  font-size: 14px;
  padding: 4px;
  transition: 0.2s;
}

.toggle-password:hover {
  color: var(--light-pink);
}

/* Message */
.message {
  color: var(--green-msg);
  font-size: 13px;
}

.validation {
  color: var(--error-msg);
  font-size: 13px;
  margin-bottom: 0px;
}

/* Login text */
.login-text {
  font-size: 13px;
  color: #555;
  margin-bottom: 15px;
  margin-top: 8px;
}

.forget-psw {
  font-size: 13px;
  color: #555;
  margin-bottom: 8px;
}

.login-link {
  color: var(--main-pink);
  text-decoration: none;
  font-weight: 500;
}

.login-link:hover {
    color: var(--main-pink);
  text-decoration: underline;
}

/* Button */
.register-btn {
  width: 100%;
  padding: 12px 0;
  background: var(--btn-color);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.register-btn:hover {
  background: var(--btn-hover);
}